.btn-sm-block {
  @media(max-width: $sm-device) {
    display: block;
    max-width: 100%;
    width: 100%;
  }
}

.btn {
  font-family: $bold;
  outline: none;
  white-space: normal;
  padding: 6px 12px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
}
.btn .fa {
  margin: 0 3px;
}
.btn-lg,
.btn-group-lg > .btn {
  font-size: 16px;
  border-radius: 4px;
}
.btn-sm {
  padding: 5px 7px;
}
.btn-md {
  font-weight: normal;
}
.btn-tiny {
  padding: 2px 5px;
  font-size: 12px;
}
.btn-link {
  color: #428bca;
  outline: none;
  text-decoration: underline;
}
.btn-link:active,
.btn-link[disabled] {
  text-decoration: underline;
}
.btn-link:hover,
.btn-link:focus {
  color: #7ec26c;
  text-decoration: none;
}
.btn-primary {
  padding: 9px 9px;
  font-size: 15px;
  background-color: $accent-color;
  border: none;
  border-radius: 20px;
  &_empty {
    color: $accent-color;
    background: inherit;
    border: 2px solid $accent-color;
  }
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  box-shadow: none;
  background-color: $accent-hover-color;
  border: none;
}
.open .dropdown-toggle.btn-primary {
  background-color: $accent-hover-color;
  border: none;
}

.btn-primary_empty:hover,
.btn-primary_empty:focus,
.btn-primary_empty:active,
.btn-primary_empty.active {
  color: $white;
  background: $accent-color;
  border: 2px solid $accent-color!important;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: $accent-hover-color;
  border: none;
}
.btn-secondary {
  background-color: #0087b3;
  border-color: #0087b3;
  color: #FFF;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #00a8c6;
  border-color: #00a8c6;
  color: #FFF;
}
.open .dropdown-toggle.btn-secondary {
  background-color: #c7d9df;
  border-color: #c7d9df;
}
.btn-default {
  background: #f5f5f5;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(1, #f5f5f5));
  background: -ms-linear-gradient(bottom, #eeeeee, #f5f5f5);
  background: -moz-linear-gradient(center bottom, #eeeeee 0%, #f5f5f5 100%);
  background: -o-linear-gradient(#f5f5f5, #eeeeee);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
  border-color: #dddddd;
  color: #333333;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background: #f9f9f9;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f1f1f1), color-stop(1, #f7f7f7));
  background: -ms-linear-gradient(bottom, #f1f1f1, #f7f7f7);
  background: -moz-linear-gradient(center bottom, #f1f1f1 0%, #f7f7f7 100%);
  background: -o-linear-gradient(#f7f7f7, #f1f1f1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f1f1f1', GradientType=0);
  border-color: #cccccc;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}
.btn-check {
  color: #555555;
  background-color: #f5f5f5;
  border-color: #eee;
}
.btn-check:hover,
.btn-check:focus,
.btn-check:active,
.btn-check.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #68af55;
  border-color: #68af55;
}
.btn-check:active,
.btn-check.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
  color: #fff !important;
}
.btn-check.disabled,
.btn-check[disabled],
fieldset[disabled] .btn-check,
.btn-check.disabled:hover,
.btn-check[disabled]:hover,
fieldset[disabled] .btn-check:hover,
.btn-check.disabled:focus,
.btn-check[disabled]:focus,
fieldset[disabled] .btn-check:focus,
.btn-check.disabled:active,
.btn-check[disabled]:active,
fieldset[disabled] .btn-check:active,
.btn-check.disabled.active,
.btn-check[disabled].active,
fieldset[disabled] .btn-check.active {
  background-color: #428bca;
  border-color: #357ebd;
}

.social-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:  -10px;
  margin-right:  -10px;
  &__items {
    margin: 10px;
    height: 32px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 33%;
    font-family: 'maminzam-font';
    text-decoration: none;
    outline: none;
    color: $white;
    font-size: 20px;
    transition: .2s ease-out;
    &:hover {
      color: $white;
    }
    &:focus {
      color: $white;
    }
  }
  &_vk {
    @extend .icon-vk;
    background: #5181B8;
    &:hover {
      background: #5b88bd;
    }
    &:focus {
      background: #5b88bd;
    }
  }
  &_fb {
    @extend .icon-facebook;
    background: #3b589e;
    &:hover {
      background: #3e6e99;
    }
    &:focus {
      background: #3e6e99;
    }
  }
  &_od {
    @extend .icon-odnoklassniki-logo;
    background: #F68634;
    &:hover {
      background: #ee7808;
    }
    &:focus {
      background: #ee7808;
    }
  }
}

.social-buttons-s {
  display: flex;
  flex-direction: column;
  &__items {
    margin-bottom: 15px;
    height: 40px;
    border-radius: 20px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    font-family: 'maminzam-font';
    text-decoration: none;
    outline: none;
    color: $white;
    font-size: 20px;
    transition: .2s ease-out;
    max-width: 222px;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      color: $white;
    }
    &:focus {
      color: $white;
    }
  }
  &__title {
    font-size: 15px;
    font-family: $light;
    color: $white;
    margin-left: 10px;
  }
  &_vk {
    @extend .icon-vk;
    background: #5181B8;
    &:hover {
      background: #5b88bd;
    }
    &:focus {
      background: #5b88bd;
    }
  }
  &_fb {
    @extend .icon-facebook;
    background: #3b589e;
    &:hover {
      background: #3e6e99;
    }
    &:focus {
      background: #3e6e99;
    }
  }
  &_od {
    @extend .icon-odnoklassniki-logo;
    background: #F68634;
    &:hover {
      background: #ee7808;
    }
    &:focus {
      background: #ee7808;
    }
  }
}

.btn-clear-filter {
  background: $accent-color;
  border-radius: 3px;
  color: $white;
  font-size: 15px;
  &:hover {
    color: $white;
  }
  &:focus {
    color: $white;
  }
}

.btn-filter-md {
  display: none;
  @media(max-width: $md-device) {
    display: inline-block;
    font-size:16px;
    font-family: $bold;
    color: $main-color;
    text-decoration: none;
    &:hover {
      color: $main-color;
    }
    &:focus {
      color: $main-color;
    }
  }
}

.btn-block-sm {
  @media(max-width: $sm-device) {
    display: block;
    width: 100%;
  }
}

.btn-input {
  padding: 0 10px;
  height: 35px;
  border-radius: 0 3px 3px 0;
}