@font-face {
  font-family: 'Conv-ProximaNova-Light';
  src: url('../../fonts/ProximaNova-Light/ProximaNova-Light.eot');
  src: local('☺'), url('../../fonts/ProximaNova-Light/ProximaNova-Light.woff') format('woff'),
  url('../../fonts/ProximaNova-Light/ProximaNova-Light.ttf') format('truetype'),
  url('../../fonts/ProximaNova-Light/ProximaNova-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv-ProximaNova-Bold';
  src: url('../../fonts/ProximaNova-Bold/ProximaNova-Bold.eot');
  src: local('☺'), url('../../fonts/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'),
  url('../../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf') format('truetype'),
  url('../../fonts/ProximaNova-Bold/ProximaNova-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'maminzam-font';
  src:  url('../../fonts/maminzam-font.eot?wn5vqp');
  src:  url('../../fonts/maminzam-font.eot?wn5vqp#iefix') format('embedded-opentype'),
  url('../../fonts/maminzam-font.ttf?wn5vqp') format('truetype'),
  url('../../fonts/maminzam-font.woff?wn5vqp') format('woff'),
  url('../../fonts/maminzam-font.svg?wn5vqp#maminzam-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'maminzam-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-notification:before {
  content: "\e927";
}
.icon-shopping-bag-check:before {
  content: "\e926";
}
.icon-heart-full:before {
  content: "\e925";
}
.icon-star-color:before {
  content: "\e924";
}
.icon-arrow-point-to-right:before {
  content: "\e900";
}
.icon-avatar:before {
  content: "\e901";
}
.icon-cancel-music:before {
  content: "\e902";
}
.icon-clock-circular-outline:before {
  content: "\e903";
}
.icon-communication:before {
  content: "\e904";
}
.icon-copy:before {
  content: "\e905";
}
.icon-envelope:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e907";
}
.icon-folder:before {
  content: "\e908";
}
.icon-heart:before {
  content: "\e909";
}
.icon-levels:before {
  content: "\e90a";
}
.icon-list:before {
  content: "\e90b";
}
.icon-list2:before {
  content: "\e90c";
}
.icon-logout:before {
  content: "\e90d";
}
.icon-logout1:before {
  content: "\e90e";
}
.icon-logout2:before {
  content: "\e90f";
}
.icon-minus-symbol:before {
  content: "\e910";
}
.icon-odnoklassniki-logo:before {
  content: "\e911";
}
.icon-padlock:before {
  content: "\e912";
}
.icon-previous:before {
  content: "\e913";
}
.icon-printer:before {
  content: "\e914";
}
.icon-push-pin:before {
  content: "\e915";
}
.icon-search:before {
  content: "\e916";
}
.icon-settings:before {
  content: "\e917";
}
.icon-share:before {
  content: "\e918";
}
.icon-shopping-bag:before {
  content: "\e919";
}
.icon-shopping-bag1:before {
  content: "\e91a";
}
.icon-speaker:before {
  content: "\e91b";
}
.icon-star:before {
  content: "\e91c";
}
.icon-tap:before {
  content: "\e91d";
}
.icon-telephone1:before {
  content: "\e91e";
}
.icon-up-arrow:before {
  content: "\e91f";
}
.icon-user:before {
  content: "\e920";
}
.icon-verify-sign:before {
  content: "\e921";
}
.icon-vk:before {
  content: "\e922";
}
.icon-wallet:before {
  content: "\e923";
}
