.general-bg {
  min-height: 100vh;
  background-position: 50% 50% !important;
  background-size: cover !important;
  background-repeat: no-repeat!important;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(96, 96, 96, .5);
  }
}

.l-left-banner-place {
  margin-top: 20px;
  background: $white;
  border: none;
}

.search-general {
  &_g {
    display: flex;
    align-items: center;
    margin-left: 40px;
  }
  &_index {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  h1 {
    font-size: 27px;
    font-family: $bold;
    color: $white;
    @media(max-width: $sm-device) {
      text-align: center;
      font-size: 24px;
    }
  }
  &__wrap {
    position: relative;
    display: flex;
    @media(max-width: $sm-device) {
      flex-direction: column;
      width: 100%;
      max-width: 100%;
      margin-top: 30px;
    }
    @media(max-width: $xs-device) {
      flex-direction: column;
      width: 100%;
      max-width: 290px;
      margin-top: 30px;
    }
  }
  &__select {
    display: flex;
    @media(max-width: $sm-device) {
      flex-direction: column;
    }
    @media(max-width: $xs-device) {
      width: 100%;
      max-width: 290px;
    }
  }
}

.index-select {
  padding: 0;
  position: relative;
  margin-right: 15px;
  display: flex;
  &_border {
    border: 1px solid $border-color;
  }
  @media(max-width: $sm-device) {
    margin-right: 0;
    margin-bottom: 20px;
    padding: 0 10px;
  }
  &_g {
    margin-right: 0;
    border: 1px solid $border-color;
    border-radius: 3px 0 0 3px;
    @media(max-width: $md-device) {
      border-radius: 3px;
      padding: 0;
    }
  }
  &__item {
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
    &:first-child {
      &:before {
        content: '';
        width: 1px;
        height: 100%;
        background: $border-color;
        position: absolute;
        top: 0;
        right: 0px;
        z-index: 2;
      }
    }
    @media(max-width: $sm-device) {
      padding-right: 0px;
      margin-right: 0px;
    }
    &:last-child {
      margin-right: 0;
    }
    @media(max-width: $sm-device) {
      width: 50%;
      flex: 0 0 auto;
    }
    a {
      color: $main-color;
      font-size: 15px;
      text-decoration: none;
      outline: none;
      @media(max-width: $sm-device) {
        justify-content: space-between;
        width: 100%;

      }
      &:hover {
        color: $main-color;
      }
      &:focus {
        color: $main-color;
      }
    }
    &_g {
      min-width: 130px;
      height: 30px;
    }
  }
  &__title {
    color: $secondary-color;
    display: inline-block;
    margin-right: 10px;
    font-size: 13px;
    @media(max-width: $sm-device) {
      position: absolute;
      top: -25px;
      left: 0;
      color: $white;
    }
    &_abs {
      position: absolute;
      top: 8px;
      left: 20px;
      z-index: 1;
      @media(max-width: $sm-device) {
        position: absolute;
        top: -25px;
        left: 0;
        color: $white;
      }
    }
  }
}

.menu-enter-sm {
  .menu-sm {
    position: absolute;
    top: 0;
    right: 0;
    background: $accent-color;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 15px;
    &.in {
      z-index: 2;
      display: flex;
    }
    .icon-cancel-music {
      font-size: 23px;
    }
  }
  .icon-search {
    font-size: 24px;
    color: $secondary-color;
    text-decoration: none;
    outline: none;
  }
}

.btn-search-g {
  font-size: 15px;
  color: $white;
  width: 200px;
  height: 40px;
  border-radius: 21px;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  background: $accent-color;
  font-family: $bold;
  text-decoration: none;
  transition: .2s ease-out;
  @media(max-width: $sm-device) {
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
  }
  &:hover {
    color: $white;
    background: $accent-hover-color;
  }
  &:focus {
    background: $accent-hover-color;
    color: $white;
  }
}

.btn-search-sm-g {
  height: 32px;
  width: 32px;
  background: $accent-color;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  outline: none;
  border-radius: 0 3px 3px 0;
  &:hover {
    color: $white;
    background: $accent-hover-color;
  }
  &:focus {
    color: $white;
    background: $accent-hover-color;
  }
}

.general-wrap {
  padding: 65px 0 95px 0;
  background: $white;
  @media(max-width: $sm-device) {
    padding: 50px 0;
  }
  &_bg {
    background: $bg-color;
  }
  &_bg-accent {
    background: $accent-color;
  }
  &__article {
    text-align: center;
    font-size: 27px;
    font-family: $bold;
    margin-bottom: 0;
    padding-bottom: 0;
    &_white {
      color: $white;
    }
    @media(max-width: $sm-device) {
      font-size: 24px;
    }
  }
}
.how-work {
  display: flex;
  margin: 0 -15px;
  &__col {
    padding: 0 15px;
    flex: 0 0 auto;
    width: 50%;
    &_none-xs {
      @media(max-width: $sm-device) {
        display: none;
      }
    }
    @media(max-width: $sm-device) {
      width: 100%;
    }
  }
  &__img {
    width: 310px;
  }
}
.how-list {
  margin: -25px 0 0 0;
  padding: 0;
  list-style: none;
  @media(max-width: $sm-device) {
    margin-top: 25px;
  }
  &__item {
    display: flex;
    align-items: center;
    padding-bottom: 80px;
    @media(max-width: $sm-device) {
      padding-bottom: 20px;
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
  &__numb {
    width: 60px;
    height: 60px;
    border: 2px solid $accent-color;
    color: $accent-color;
    border-radius: 50%;
    font-size: 32px;
    font-weight: 600;
    margin-right: 25px;
    @media(max-width: $sm-device) {
      width: 33px;
      height: 33px;
      font-size: 20px;
      margin-right: 10px;
    }
  }
  &__text {
    font-size: 20px;
    line-height: 27px;
    @media(max-width: $sm-device) {
      font-size: 15px;
    }
  }
}

.save-info {
  margin-top: 75px;
  @media(max-width: $sm-device) {
    margin-top: 25px;
    &:first-child {
      margin-top: 40px;
    }
  }
  &__icon {
    font-size: 50px;
    color: $accent-color;
    margin-bottom: 35px;
    @media(max-width: $sm-device) {
      margin-bottom: 15px;
    }
  }
  &__title {
    font-size: 17px;
    margin-bottom: 10px;
    padding-bottom: 0;
    font-family: $bold;
  }
  &__text {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    max-width: 230px;
  }
}

.slider-general {
  margin: 0 auto;
  width: 780px;
  position: relative;
  max-width: 100%;
  margin-top: 50px;
  @media(max-width: $sm-device) {
    margin-top: 40px;
    .slick-slide {
      margin: 10px;
    }
  }
  &__item {
    margin: 10px auto;
    padding: 50px;
    width: 460px;
    box-shadow: 0 3px 6px rgba(0, 0,0, .15);
    @media(max-width: $sm-device) {
      width: 100%;
      padding: 20px 15px;
    }
  }
  &__avatar {
    width: 90px;
    height: 90px;
    flex: 0 0 auto;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  &__name {
    font-size: 15px;
    font-family: $bold;
    margin-bottom: 15px;
  }
  &__rating {
    margin-bottom: 10px;
    color: $rating-color;
    font-size: 16px;
  }
  &__text {
    text-align: center;
    font-size: 15px;
    line-height: 20px;
  }
  &__arrow {
    font-size: 38px;
    color: $accent-color;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 38px);
    z-index: 1;
    background: $white;
    &_prew {
      left: 0;
    }
    &_next {
      right: 0;
      display: inline-block;
      transform: rotate(180deg);
    }
  }
  &__dots {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      margin: 10px;
      border: 1px solid $secondary-color;
      background: $white;
      border-radius: 50%;
      width: 17px;
      height: 17px;
      cursor: pointer;
      &.slick-active {
        background: $accent-color;
        border-color: $accent-color;
      }
      &:hover {
        border-color: $accent-color;
      }
      button {
        display: none;
      }
    }
  }
}

.general-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  border-radius: 20px;
  height: 40px;
  font-size: 16px;
  font-family: $bold;
  background: $white;
  text-decoration: none;
  outline: none;
  color: $main-color;
}

.btn-box {
  display: flex;
  margin: 0 auto;
  max-width: 360px;
  justify-content: space-between;
  margin-top: 50px;
  @media(max-width: $sm-device) {
    flex-direction: column;
    margin-top: 40px;
    .general-btn {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

.footer {
  background: $white;
  @media print {
    display: none !important;
  }
  &__logo {
    a {
      color: $main-color;
      font-size: 22px;
      font-family: $bold;
      text-decoration: none;
      outline: none;
    }
  }
  &__links {
    margin:0;
    padding: 0;
    list-style: none;
    li {
      padding-bottom: 7px;
    }
    a {
      text-decoration: none;
      outline: none;
      color: $main-color;
      &:hover {
        color: $accent-color;
      }
    }
  }
}