.header-top {
  padding: 15px 0;
  box-shadow: 0 3px 6px rgba(126,135, 149, .16);
  color: $main-color;
  background: $white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  @media print {
    display: none!important;
  }
  &-70 {
    height: 70px;
  }
  &_index {
    padding: 20px 0;
    z-index: 2;
    position: relative;
    top: 0;
    width: 100%;
    color: $white;
    background: none;
    box-shadow: none;
    .enter-nav__item {
      @media(max-width: $sm-device) {
        &:hover {
          color: $white!important;
        }
        &:focus {
          color: $white!important;;
        }
      }
    }
    .enter-nav__item_circle {
      border: 2px solid $white;
      &:hover {
        border: 2px solid $accent-color;
        color: $accent-color;
      }
      @media(max-width: $sm-device) {
        &:hover {
          color: $white;
          border-color: $white;
        }
        &:focus {
          color: $white;
          border-color: $white;
        }
      }
    }
    .header-top__logo {
      width: 150px;
    }
    .enter-nav__item {
      color: $white;
      &:hover {
        color: $accent-color;
      }
    }
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    flex: 0 0 auto;
    width: 110px;
    img {
      display: inline-block;
    }
  }
}

@keyframes spin {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.header-loader {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $white;
  &_index {
    border-radius: 3px;
    margin-right: 20px;
  }
  &.active {
    animation: spin 500ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  }
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }
  &__circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $bg-color;
    @media(max-width: $md-device) {
      width: 35px;
      height: 35px;
    }
  }
  &__box {
    width: 350px;
    max-width: 100%;
    height: 24px;
    background: $bg-color;
  }
  &__box-sm {
    width: 150px;
    max-width: 100%;
    height: 25px;
    background: $bg-color;
  }
}
.enter-nav {
  font-family: $bold;
  &_g {
    font-family: $light;
    .enter-nav__item {
      color: $main-color;
      &:hover {
        color: $accent-color;
      }
      &:focus {
        color: $accent-color;
      }
    }
    .enter-nav__item_circle {
      color: $accent-color;
    }
  }
  &__item {
    text-decoration: none;
    margin: 0 15px;
    font-size: 15px;
    &_circle {
      font-family: $bold;
      border-radius: 21px;
      border: 2px solid $accent-color;
      padding: 5px 10px;
    }
  }
}

.open {
  .dropdown-head {
    display: block;
  }
}
.dropdown-head {
  margin: 40px 0 0;
  border: none;
  padding: 2px 0;
  border-radius: 0;
  display: none;
  position: absolute;
  top: 100%;
  right: -10px;
  z-index: 1000;
  float: right;
  list-style: none;
  background-color: #ffffff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);

  &:after {
    content: '';
    position: absolute;
    right: 10px;
    top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid $white;
  }
  &_md {
    width: 100%;
    display: block;
    position: relative;
    box-shadow: none;
    margin:0;
    padding:0;
    top: 0;
    left: 0;
    float: left;
    &:after {
      display: none;
    }
  }
  &__bt {
    border-top: 1px solid $border-color;
  }
  .icon-copy_tr {
    transform: rotate(-180deg);
  }
  &__item {
    padding: 7px 10px;
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
    outline: none;
    transition: .2s ease-out;
    color: $main-color;
    white-space: nowrap;
    font-size: 15px;
    &:hover {
      background: $accent-color;
      color: $white;
    }
    &:focus {
      background: $accent-color;
      color: $white;
    }
    [class^="icon-"], [class*=" icon-"] {
      font-size: 18px;
      margin-right: 10px;
    }
  }
  &__avatar {
    display: flex;
    align-items: center;
    img  {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      margin-right: 5px;
    }
  }
}


.header-sm-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  .icon-cancel-music {
    font-size: 20px;
    color: $main-color;
    &:hover {
      color: $main-color;
    }
  }
}
