.pb0i {
  padding-bottom: 0!important;
}

.mb-15 {
  margin-bottom: -15px;
}

.pd5 {
  padding: 5px ;
}
.pd10 {
  padding: 10px ;
}
.pd15 {
  padding: 15px ;
}
.pd20 {
  padding: 20px ;
}
.pd30 {
  padding: 30px ;
}
.pd40 {
  padding: 40px ;
}
.pd50 {
  padding: 50px ;
}

.pl0i {
  padding-left: 0 !important;
}

.pdl5 {
  padding-left: 5px ;
}
.pdl10 {
  padding-left: 10px ;
}
.pdl15 {
  padding-left: 15px ;
}
.pdl20 {
  padding-left: 20px ;
}
.pdl30 {
  padding-left: 30px ;
}
.pdl40 {
  padding-left: 40px ;
}
.pd0 {
  padding: 0 ;
}
.pdl50 {
  padding-left: 50px ;
}
.pdt0 {
  padding-top: 0 ;
}
.pdt5 {
  padding-top: 5px ;
}
.pdt10 {
  padding-top: 10px ;
}
.pdt15 {
  padding-top: 15px ;
}
.pdt20 {
  padding-top: 20px ;
}
.pdt30 {
  padding-top: 30px ;
}
.pdt40 {
  padding-top: 40px ;
}
.pdt50 {
  padding-top: 50px ;
}
.pdr5 {
  padding-right: 5px ;
}
.pdr10 {
  padding-right: 10px ;
}
.pdr15 {
  padding-right: 15px ;
}
.pdr20 {
  padding-right: 20px ;
}
.pdr30 {
  padding-right: 30px ;
}
.pdr40 {
  padding-right: 40px ;
}
.pdr50 {
  padding-right: 50px ;
}
.pdb0 {
  padding-bottom: 0 ;
}
.pdb5 {
  padding-bottom: 5px ;
}
.pdb10 {
  padding-bottom: 10px ;
}
.pdb15 {
  padding-bottom: 15px ;
}
.pdb20 {
  padding-bottom: 20px ;
}
.pdb30 {
  padding-bottom: 30px ;
}
.pdb40 {
  padding-bottom: 40px ;
}
.pdb50 {
  padding-bottom: 50px ;
}
.mrgt0 {
  margin-top: 0 ;
}
.mrgr0i {
  margin-right: 0!important;
}
.mrg5 {
  margin: 5px ;
}
.mrg10 {
  margin: 10px ;
}
.mrg15 {
  margin: 15px ;
}
.mrg20 {
  margin: 20px ;
}
.mrg30 {
  margin: 30px ;
}
.mrg40 {
  margin: 40px ;
}
.mrg50 {
  margin: 50px ;
}
.mrgl5 {
  margin-left: 5px ;
}
.mrgl10 {
  margin-left: 10px ;
}
.mrgl15 {
  margin-left: 15px ;
}
.mrgl20 {
  margin-left: 20px ;
}
.mrgl30 {
  margin-left: 30px ;
}
.mrgl40 {
  margin-left: 40px ;
}
.mrgl50 {
  margin-left: 50px ;
}

.mrgl60 {
  margin-left: 60px ;
}

.mrgt5 {
  margin-top: 5px ;
}
.mrgt10 {
  margin-top: 10px ;
}
.mrgt15 {
  margin-top: 15px ;
}
.mrgt20 {
  margin-top: 20px ;
}

.mrgt25 {
  margin-top: 25px ;
}

.mrgt25i {
  margin-top: 25px!important; ;
}

.mrgt30 {
  margin-top: 30px ;
}

.mrgt35 {
  margin-top: 35px ;
}

.mrgt40 {
  margin-top: 40px ;
}
.mrgt50 {
  margin-top: 50px ;
}

.mrgt100 {
  margin-top: 100px;
}


.mrgr5 {
  margin-right: 5px ;
}
.mrgr10 {
  margin-right: 10px ;
}
.mrgr15 {
  margin-right: 15px ;
}
.mrgr20 {
  margin-right: 20px ;
}
.mrgr30 {
  margin-right: 30px ;
}
.mrgr40 {
  margin-right: 40px ;
}
.mrgr50 {
  margin-right: 50px ;
}
.mrgb0 {
  margin-bottom: 0 ;
}
.mrgb5 {
  margin-bottom: 5px ;
}
.mrgb10 {
  margin-bottom: 10px ;
}

.mrgb15 {
  margin-bottom: 15px ;
}
.mrgb20 {
  margin-bottom: 20px ;
}

.mrgb25 {
  margin-bottom: 25px ;
}

.mrgb30 {
  margin-bottom: 30px ;
}

.mrgb35 {
  margin-bottom: 35px ;
}
.mrgb40 {
  margin-bottom: 40px ;
}
.mrgb50 {
  margin-bottom: 50px ;
}

.w100 {
  width: 100%;
}