.form-sm {
  width: 290px;
  margin: 0 auto;
  background: $white;
  padding: 40px 30px;
  position: relative;
  @media(max-width: $xs-device) {
    padding: 30px 20px;
  }
  &__caption {
    text-align: center;
    font-size: 17px;
    font-family: $bold;
    line-height: 20px;
  }
  &__link-redirect {
    position: absolute;
    top: -25px;
    right: 0;
    font-size: 13px;
    color: $accent-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:focus {
      text-decoration: underline;
    }
  }
  &__double {
    display: flex;
    margin: 0 -30px;
    border-bottom: 14px solid $bg-color;
    @media(max-width: $xs-device) {
      margin: 0 -20px;
    }
  }
  &__double-btn {
    display: inline-block;
    width: 50%;
    padding: 10px 5px;
    font-family: $bold;
    color: $secondary-color;
    font-size: 15px;
    text-align: center;
    text-decoration: none!important;
    outline: none!important;
    cursor: pointer;
    &.active {
      cursor: default;
      color: $white;
      background: $accent-color;
    }
  }
}

.g-form {
  .form-group {
    margin-bottom: 10px;
  }
  .control-label {
    color: $main-color;
    font-size: 13px;
    margin-bottom: 4px;
    line-height: 1;
  }
}

.checkbox-none {
  padding-left: 0;
  text-align: center;
  font-size: 13px;
  line-height: 15px;
  a {
    text-decoration: none;
    outline: none;
    color: $accent-color;
    &:hover {
      text-decoration: underline;
    }
  }
  input[type="checkbox"] {
    display: none;
  }
}

.or-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 15px;
  color: $secondary-color;
  position: relative;
  line-height: 1;
  span {
    background: $white;
    padding: 0 15px;
    display: inline-block;
    z-index: 1;
  }
  &:before {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    background: $border-color;
  }
}

.user-nav {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &__item {
    display: inline-block;
    margin-right: 15px;
    position: relative;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    font-size: 13px;
    color: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    outline: none;
    &:hover {
      color: $accent-color;
    }
    &:focus {
      color: $accent-color;
    }
    [class*=" icon-"], [class^="icon-"] {
      font-size: 20px;
    }
    .icon-arrow-point-to-down {
      font-size: 13px;
      color: $main-color;
    }
  }
  &__avatar {
    flex: 0 0 auto;
    text-decoration: none;
    outline: none;
    img {
      width: 36px;
      height: 36px;
      border-radius: 50%;
    }
  }
  &__notif {
    margin-left: 2px;
    color: $error-color;
    font-size: 14px;
    font-family: $bold;
  }
}

.drop-menu-sm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: $white;
  z-index: 200;
}

.note {
  padding: 10px 5px;
  background: $white;
  width: 100%;
  max-width: 275px;
  @media(max-width: $sm-device) {
    max-width: 100%;
  }
  .form-group {
    margin-bottom: 0;
  }
  &__title {
    font-size: 13px;
    font-family: $bold;
    padding: 0;
    margin: 0;
  }
  &__tip {
    background: $secondary-color;
    border-radius: 50%;
    padding: 0 5px;
    color: $white;
    cursor: pointer;
  }
  &__input {
    height: 25px;
    border: 1px solid $border-color;
  }
  &__btn-edit {
    font-size: 12px;
    color: $main-color;
    text-decoration: none;
    outline: none;
    font-family: $light;
    &:hover {
      color: $accent-color;
    }
  }
  &__btn-delete {
    font-size: 12px;
    color: $main-color;
    text-decoration: none;
    outline: none;
    font-family: $light;
    &:hover {
      color: $error-color;
    }
  }
}

a.filter-checkbox {
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: $main-color;
  &:hover {
    color: $main-color;
  }
  &:focus {
    color: $main-color;
  }
}

.l-left-categories > li.checked > span {
  color: $main-color;
}
.filter-checkbox {
  font-size: 15px;
  display: flex;
  align-items: flex-start;
  user-select: none;
  .ico-square {
    width: 18px!important;
    height: 18px!important;
    border-radius: 3px;
    background: $white;
  }
  .ico-square-checked {
    width: 18px!important;
    height: 18px!important;
    border-radius: 3px;
    background: $accent-color;
    position: relative;
    &:before {
      @extend .icon-verify-sign;
      font-family: 'maminzam-font';
      position: absolute;
      top: 3px;
      left: 4px;
      font-size: 11px;
      color: $white;
    }
  }
  .ico-circle {
    width: 17px!important;
    height: 17px!important;
    border-radius: 50%;
    background: $white;
  }
  .ico-circle-checked {
    width: 17px!important;
    height: 17px!important;
    border-radius: 50%;
    background: $white;
    position: relative;
    &:before {
      content: '';
      top: 4px;
      right: 4px;
      position: absolute;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background: $accent-color;
    }
  }
  &__text {
    font-size: 15px;
    cursor: pointer;
    color: $main-color;
    &:hover {
      color: $main-color;
    }
    &:focus {
      color: $main-color;
    }
  }
}

.list-def {
  margin: 0!important;
  padding: 0!important;
  list-style: none;
}

.form-sidebar {
  display: block;
  @media(max-width: $md-device) {
    display: none;
  }
  &__title {
    padding-top: 10px;
    padding-bottom: 10px;
    color: $main-color;
    text-decoration: none;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 16px;
    font-family: $bold;
    &:focus {
      color: $main-color;
    }
    &.collapsed {
      .icon-arrow-point-to-down {
        transform: rotate(360deg);
      }
    }
  }
}

.services-list {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__item {
    width: 33%;
    padding: 25px;
    @media(max-width: $sm-device) {
      width: 100%;
      padding: 25px 0;
    }
  }
  &__item-label {
    width: 25%;
    padding: 25px;
    @media(max-width: $md-device) {
      padding: 10px;
    }
    @media(max-width: $sm-device) {
      width: 100%;
      padding: 25px 0;
    }
  }
  &__item-label-order {
    width: 50%;
    padding: 10px;
    @media(max-width: $md-device) {
      padding: 10px;
    }
    @media(max-width: $sm-device) {
      width: 100%;
      padding: 25px 0;
    }
  }
  &__box {
    text-decoration: none;
    outline: none;
    color: $main-color;
    display: flex;
    flex-direction: column;
    background: $white;
    height: 100%;
    padding: 30px 20px 25px 20px;
    transition: .2s ease-out;
    border: 2px solid $white;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .16);
    &:hover {
      color: $main-color;
      border-color:  $accent-color;
      .services-list__title {
        color: $accent-color;
      }
    }
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    background: $white;
    height: 100%;
    padding: 30px 20px 25px 20px;
    transition: .2s ease-out;
    border: 2px solid $white;
  }
  &__title {
    color: $main-color;
    font-size:17px;
    font-family: $bold;
    margin-bottom: 15px;
    text-decoration: none;
    outline: none;
    transition: .2s ease-out;
  }
  &__label {
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: $main-color;
    display: flex;
    flex-direction: column;
    background: $white;
    height: 100%;
    padding: 30px 20px 25px 20px;
    transition: .2s ease-out;
    border: 2px solid $white;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .16);
    &:hover {
      color: $main-color;
      border-color:  $accent-color;
      .services-list__title {
        color: $accent-color;
      }
    }
  }
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    img {
      max-width: 100%;
      max-height: 100px;
    }
  }
  input[type="radio"] {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 0;
    &:checked {
      & + .services-list__label {
        color: $main-color;
        border-color:  $accent-color;
        .services-list__title {
          color: $accent-color;
        }
      }
    }
  }
  input[type="checkbox"] {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 0;
    &:checked {
      & + .services-list__label {
        color: $main-color;
        border-color:  $accent-color;
        .services-list__title {
          color: $accent-color;
        }
      }
    }
  }
  &__price {
    font-size: 17px;
    color: $accent-color;
    font-family: $bold;
  }
}

.table .table {
  background: none;
  .icon-verify-sign {
    color: $accent-color;
  }
  .icon-cancel-music {
    color: $error-color;
  }
}
.se-table-pro-column {
  background: inherit;
}
.table > thead > tr > th {
  font-size: 15px;
  font-family: $bold;
}
.se-table {
  border-top: 0;
  margin-bottom: 30px;
}
.se-table td,
.se-table th {
  border: none!important;
  border-bottom: 1px solid $border-color !important;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
  background: inherit;
}

.table > thead > tr > th {
  border-color: $border-color;
}

.number-count {
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    max-width: 55px;
    border-radius: 0;
    text-align: center;
    &:focus {
      z-index: 2;

    }
  }
  &__btn {
    border: 1px solid $border-color;
    background: $white;
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: 13px;
      color: $secondary-color;
    }
    .icon-cancel-music {
      transform: rotate(45deg);
    }
    &:first-child {
      margin-right: -1px;
      border-radius: 3px 0 0 3px;
    }
    &:last-child {
      margin-left: -1px;
      border-radius: 0 3px 3px 0;
    }
  }
}

.chat-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  &__back {
    font-size: 13px;
    color: $main-color;
    text-decoration: none;
    outline: none;
    i {
      font-size: 10px;
    }
  }
  &__user {
    display: flex;
    position: relative;
    align-items: center;
    img {
      width: 48px;
      height: 48px;
      border-radius: 50%;
    }
  }
  &__user-name {
    a {
      text-decoration: none;
      color: $main-color;
      font-size: 18px;
      font-family: $bold;
      line-height: 1;
      &:hover {
        color: $accent-color;
      }
      &:focus {
        color: $accent-color;
      }
    }
  }
  &__dropdown {
    color: $main-color;
    text-decoration: none;
    outline: none;
    display: flex;
    align-items: center;
    &:hover {
      color: $main-color;
      span {
        color: $main-color;
      }
    }
    &:focus {
      color: $main-color;
      span {
        color: $main-color;
      }
    }
    i.icon-folder {
      font-size: 20px;
      margin-right: 5px;
    }
    .icon-arrow-point-to-down {
      font-size: 11px;
      flex: 0 0 auto;
      margin-left: 5px;
    }
    span {
      text-decoration: none;
      border-bottom: none;
    }
  }
}

.i-imailDialog-form {
  background: $white;
}

.i-message-self .i-message {
  float: right;
  background: rgba(74, 210, 163, .24);
  margin-right: 10px;
}

.i-message-others .i-message {
  float: left;
  background: $white;
  margin-left: 10px;
}

.i-message-box {
  margin: 30px 0;
}

.i-message {
  padding: 7px;
  border-radius: 4px;
}

.i-message-date {
  color: $secondary-color;
}

.i-message-time {
  color: $secondary-color;
}

.i-message-box {
  &__link {
    float: left;
  }
  &__avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
}

.avatar-circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.i-imail-folders {
  li {
    padding: 5px 0;
    &.active {
      background: none;
      a {
        color: $accent-color;
      }
    }
    a {
      padding: 0;
      font-size: 15px;
      color: $main-color;
      text-decoration: none;
      outline: none;
    }
  }
}

.i-imailList {
  background: $white;
  & > li {
    padding: 15px!important;
    border-bottom: 1px solid $border-color;
    @media(max-width: $sm-device) {
      padding: 0px!important;
    }
  }
  &__text {
    white-space: nowrap;
    display: block;
    background: inherit;
    padding: 10px;
    border-radius: 3px;
    text-overflow: ellipsis;
    width: 100%;
    font-size: 15px;
    color: $main-color;
    text-decoration: none;
    outline: none;
    overflow: hidden;
    &.my {
      background: $bg-color;
    }
  }
  &__col {
    padding-left: 15px!important;
    padding-right: 15px;
    @media(max-width: $sm-device) {
      padding: 10px 20px!important;
    }
  }
}

.user-box {
  display: flex;
  &__avatar {
    position: relative;
    width: 48px;
    height: 48px;
    flex: 0 0 auto;
    img {
      border-radius: 50%;
    }
    &_sq {
      width: 52px;
      height: 52px;
      img {
        border-radius: 0;
        width: 100%;
        height: 100%;
      }
    }
    &_sq-big {
      flex: 0 0 auto;
      width: 80px;
      height: 80px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 0;
      }
    }
  }
  &__fav {
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 2;
    width: 26px;
    height: 26px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,.7);
    text-decoration: none;
    outline: 0;
    i.icon-heart-full {
      color: $error-color;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    a {
      white-space: nowrap;
      font-size: 15px;
      font-family: $bold;
      color: $main-color;
      text-decoration: none;
      &:hover {
        color: $accent-color;
      }
    }
  }
  &__contact {
    margin-top: 5px;
    span.bold {
      display: none;
    }
    ul li {
      padding-top: 0;
      line-height: 1;
      i {
        display: none;
      }
    }
  }
  &__link-sm {
    white-space: normal;
    font-size: 13px;
    &:hover {
      color: $accent-color;
    }
  }
  &__name {
    &:hover {
      color: $accent-color;
    }
    &:focus {
      color: $accent-color;
    }
  }
  &__text-s {
    font-size: 13px;
    color: $secondary-color;
    line-height: 1;
  }
  &__link-second {
    font-family:$light;
    font-size: 13px;
    color: $secondary-color;
    &:hover {
      color: $accent-color;
    }
  }
  .rating {
    line-height: 1;
  }
}


.i-imailList .i-new-message {
  color: #fff;
  background: $accent-color;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  text-decoration: none !important;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: $bold;
  line-height: 1;
}

.se-service-section {
  background: $white;
  border-radius: 0;
  border: none;
}

.se-service-section-table td {
  color: $secondary-color;
}

.fav-users {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  &__item {
    width: 50%;
    padding: 10px 10px 30px 10px;
    @media(max-width: $md-device) {
      width: 100%;
    }
  }
}

.form-def {
  input.form-control {
    height: 32px;
  }
  &__box {
    padding: 15px;
    background: $white;
    margin-bottom: 10px;
  }
  .control-label {
    font-size: 13px;
    color: $secondary-color;
  }
  &__second-text {
    font-size: 13px;
    color: $secondary-color;
  }
  &__flex {
    display: flex;
    flex-wrap: wrap;
  }
  &__row-5 {
    display: inline-block;
    width: 50%;
    @media(max-width: $sm-device) {
      width: 100%;
    }
  }
  &__select {
    width: 50%;
    @media(max-width: $sm-device) {
      width: 100%;
    }
  }
  &__pro {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media(max-width: $sm-device) {
      flex-direction: column;
      align-items: flex-start;
    }
    & > .checkbox {
      margin-left: 30px;
      @media(max-width: $sm-device) {
        margin-left: 0;
        margin-top: 10px;
      }
    }
    & > .min-w-200px {
      min-width: 200px;
      @media(max-width: $sm-device) {
        width: 100%;
      }
    }
    .dropdown-select__half {
      width: 100%;
    }
  }
}

.calendar-work {
  &_dis {
    cursor: default!important;
    .calendar-work__checbox {
      cursor: default!important;
    }
    .calendar-work__label {
      cursor: default!important;
    }
  }
  table {
    max-width: 370px;
    width: 100%;
  }
  &__title {
    font-size: 15px;
    color: $main-color;
    font-family: $light;
  }
  &__label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 5px;
    cursor: pointer;
    @media(max-width: $sm-device) {
      padding: 5px 0;
    }
    input {
      opacity: 0;
      visibility: hidden;
      z-index: 0;
      display: none;
    }
  }
  &__checbox {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid $border-color;
    background: $white;
  }
  input[type="checkbox"]{
    &:checked + .calendar-work__checbox {
      border-color: $accent-color;
      background: $accent-color;
    }
  }
}

.o-orderSelect {
  & > li {
    border-color: $bg-color;
    background: $bg-color;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 0;
    &:hover {
      background: $bg-color;
      border: 1px solid $accent-color;
    }
    &:focus {
      background: $bg-color;
      border: 1px solid $accent-color;
    }
    &.active {
      background: $bg-color;
      border: 1px solid $accent-color;
    }
    .o-orderSelect-name {
      color: $main-color;
      font-size: 14px;
      font-family:$bold;
    }
    .o-orderSelect-price {
      background: inherit;
      font-size: 15px;
      color: $accent-color;
      font-family: $bold;
    }
  }
}

.opinions-list {
  margin: 0;
  padding: 10px;
  background: $white;
  &__item {
    border-bottom: 1px solid $border-color;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  &__box {
    display: flex;
    justify-content: space-between;
  }
  .user-box__avatar_sq-big {
    @media(max-width: $sm-device) {
      width: 40px;
      height: 40px;
    }
  }
  &__my {
    margin-left: 90px;
    @media(max-width: $sm-device) {
      margin-left: 0;
    }
  }
  &__text {
    font-size: 15px;
    line-height: 18px;
    margin-top: 5px;
  }
}

.proposal-list {
  margin: 0;
  list-style: none;
  padding: 0;
  &__item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    @media(max-width: $sm-device) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__body {
    padding: 10px;
    background: $white;
    width: 70%;
    position: relative;
    @media(max-width: $sm-device) {
      width: 100%;
    }
  }
  &__btn {
    width: 30%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    @media(max-width: $sm-device) {
      width: 100%;
    }
  }
  &__contact {
    margin-top: 5px;
    span.bold {
      display: none;
    }
    ul li {
      padding-top: 0;
      line-height: 1;
      i {
        display: none;
      }
    }
  }
  &__inside {
    display: flex;
    justify-content: space-between;
    @media(max-width: $sm-device) {
      flex-direction: column;
      justify-content: flex-start;
      .user-box__avatar_sq-big {
        width: 40px;
        height: 40px;
        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
  &__add {
    color: $secondary-color;
    font-size: 13px;
    position: absolute;
    bottom: 0;
    right: 10px;
  }
}

.proposal-btn {
  background: inherit;
  padding: 2px 0;
  margin: 0;
  border: none;
  color: $main-color;
  &[disabled] {
    opacity: .7;
  }
}

.dropdown-share {
  .dropdown-menu {
    min-width: 10px;
    padding: 5px 5px 10px 5px!important;
    left: auto;
    right: 0;
    @media(max-width: $md-device) {
      left: 0;
      right: auto;
    }
  }
  .btn-share {
    box-shadow: none!important;
    position: absolute;
    right: 0;
    top: -30px;
    border: none;
    background: none;
    padding: 10px 5px !important;
    @media(max-width: $md-device) {
      top: 0;
      position: relative;
    }
  }
}

.control-vue {
  display: flex;
  align-items: center;
  @media(max-width: $md-device) {
    display: none;
  }
  @media print {
    display: none !important;
  }
  &_flex-end {
    justify-content: flex-end;
  }
  &__item {
    text-decoration: none;
    outline: none;
    margin-right: 10px;
  }
  i {
    font-size: 18px;
    color: $main-color;
  }
}

.s-rating-white .rating-container .empty-stars {
  font-size: 17px;
  color: $secondary-color;
  -webkit-text-stroke: inherit!important;
  text-stroke: inherit!important;
}