.order {
  margin: 0;
  padding: 0;
  list-style:none;
  .col-md-9.col-sm-12 {
    -webkit-flex: 1 1 auto;
  }
  .col-md-3.col-sm-5.order__notif {
    -webkit-flex: 1 1 auto;
  }
  &__box {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    @media(max-width: $md-device) {
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
    }
  }
  &__notif {
    @media(max-width: $md-device) {
      margin-top: 10px;
    }
    @media(max-width: $sm-device) {
      width: 50%;
    }
    @media(max-width: $xs-device) {
      width: 100%;
    }
  }
  &__desc {
    height: 5em;
    overflow: hidden;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  &__item {
    background: $white;
    padding: 22px 23px 11px 17px;
    &.select {
      border: 2px solid $accent-color;
    }
    @media(max-width: $xs-device) {
      margin-right: -15px;
      margin-left: -15px;
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    @media(max-width: $sm-device) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__status {
    margin-top: -13px;
    line-height: 1;
  }
  &__status-close {
    font-size: 11px;
    i {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $error-color;
    }
  }
  &__status-opened {
    font-size: 11px;
    i {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $accent-color;
    }
  }
  &__status-work {
    font-size: 11px;
    i {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $progress-color;
    }
  }
  &__title {
    color: $main-color;
    font-size:17px;
    font-family: $bold;
    text-decoration: none;
    outline: none;
    &:hover {
      color: $accent-color;
    }
    &:focus {
      color: $accent-color;
    }
  }
  &__price {
    white-space: nowrap;
    font-size: 15px;
    font-family: $bold;
    color: $accent-color;
    margin-left: 10px;
    @media(max-width: $sm-device) {
      margin-left: 0;
      font-size: 20px;
      margin-top: 10px;
    }
  }
  &__text {
    font-size: 15px;
    line-height: 18px;
  }
  &__second-text {
    color: $secondary-color;
    font-size: 15px;
    line-height: 18px;
  }
  &__conditions {
    display: flex;
    margin-top: 10px;
    @media(max-width: $sm-device) {
      margin-top: 25px;
      margin-right: 0;
      justify-content: space-between;
    }
  }
  &__conditions-item {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    align-items: center;
    @media(max-width: $sm-device) {
      margin-right: 0;
    }
  }
}

.order-info {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    font-size: 13px;
    color: $secondary-color;
    margin-right: 30px;
    a {
      color: $secondary-color;
      text-decoration: none;
      &:hover {
        color: $accent-color;
      }
    }
  }
}

.order-vue {
  &__box {
    background: $white;
    padding: 15px 25px 20px 10px;
  }
  &__title {
    margin: 0!important;
    padding: 0!important;
    font-size: 17px;
    color: $main-color;
    font-family: $bold;
    font-weight: normal;
  }
  &__price {
    font-size: 15px;
    font-family: $bold;
    color: $accent-color;
    @media print {
      margin-top: 40px;
    }
  }
  &__text {
    font-size: 15px;
    line-height: 18px;
  }
  &__row {
    display: flex;
    margin: 0 -5px;
    @media(max-width: $sm-device) {
      flex-direction: column;
    }
    .order-vue__row-auto {
        margin-bottom: 10px;

      h4 {
        margin: 0 0 10px 0;
        padding: 0;
        font-weight: normal;
      }
      &:nth-child(1) {
        flex: 1 1 70%;
        padding: 0 5px;
      }
      &:nth-child(2) {
        flex: 1 1 30%;
        padding: 0 5px;
      }
    }
  }
  &__row-big {
    flex: 1 1 70%;
    //width: 70%;
    padding: 0 5px;
  }
  &__row-small {
    //width: 30%;
    flex: 1 1 30%;
    padding: 0 5px;
  }
}

.comma {
  span {
    position: relative;
    &:after{
      margin-left: -3px;
      content: ',';
    }
    &:last-child {
      &:after{
        display: none;
      }
    }
  }
}

.list-dp {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    padding-left: 20px;
    position: relative;
    &:before {
      position: absolute;
      left: 0;
      top: 0;
      font-family: maminzam-font;
      @extend .icon-verify-sign;
      color: $accent-color;
    }
  }
}

.work-info {
  width: 100%;
  th {
    padding-bottom: 5px;
    width: 50%;
    font-size: 15px;
    font-weight: normal;
    font-family: $light;
    &:first-child {
      color: $secondary-color;
    }
    &:last-child {
      color: $main-color;
    }
  }
}

.svc_carousel_block_orders {
  padding-left: 25px;
  padding-right: 20px;
  @media(max-width: $md-device) {
    padding-left: 0;
    padding-right: 0;
  }
}