body {
  font-family: $light!important;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: $main-color;
  background: $bg-color;
  padding-top: 0;
}

.img-circle {
  width: 60px;
  height: 60px;
}
//tmp

#l-wrap {
  background: $bg-color;
  padding: 0 0 200px;
  margin: 0 auto -200px;
}

#l-footer {
  color: $main-color;
  border-top: none;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 14px;
  @media (min-width: $sm-device) {
    height: 200px;
  }
}

.display-inline {
  display: inline-block;
}
.bt1 {
  border-bottom: 1px solid $border-color;
}

.bg-white {
  background: $white;
}

.w200{
  width: 200px;
}

.max-w400{
  max-width: 400px;
}

.max-w500{
  max-width: 500px;
}

.max-w250{
  max-width: 250px;
}

.w200i {
  width: 200px!important;
}

.h100p {
  height: 100%;
}

.w100p {
  width: 100%;
}

@media(max-width: $sm-device) {
  .w100p-sm {
    width: 100%;
  }
}

.min-w-200px {
  min-width: 200px;
}

.m0-a {
  margin: 0 auto;
}
button, span {
  outline: none;
}

a {
  color: $accent-color;
  &:hover {
    color: $accent-hover-color;
    text-decoration: none;
  }
  &:focus {
    color: $accent-hover-color;
    text-decoration: none;
  }
}

.icon-arrow-point-to-down {
  @extend .icon-arrow-point-to-right;
  transform: rotate(90deg);
  display: inline-block;
}

.icon-arrow-point-to-left {
  @extend .icon-arrow-point-to-right;
  transform: rotate(180deg);
  display: inline-block;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.icon-copy {
  transform: rotate(270deg);
}

.icon-burger {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  .path1 {
    display: inline-block;
    width: 38px;
    height: 4px;
    border-radius: 10px;
    background: $white;
    margin-bottom: 6px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &_black {
    .path1 {
      background: $secondary-color;
    }
  }
}

.color-white {
  i {
    color: $white;
  }
  a {
    color: $white;
  }
  .enter-nav__item {
    color: $white;
    &_circle {
      border-color: $white;
    }
  }
}

input.form-control {
  height: 35px;
  border: 1px solid $border-color;
  border-radius: 3px;
  padding: 5px;
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 1.42857143;
  color: $main-color;
  background-color: $white;
  background-image: none;
  box-shadow: none;
  &:focus {
    border-color: $accent-color;
  }
  &_sm {
    height: 25px;
    line-height: 20px;
  }
  &.input-error {
    border-color: $error-color;
  }
}

textarea.form-control {
  border: 1px solid $border-color;
  border-radius: 3px;
  padding: 5px;
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 1.42857143;
  color: $main-color;
  background-color: $white;
  background-image: none;
  box-shadow: none;
  &:focus {
    border-color: $accent-color;
  }
  &_sm {
    height: 25px;
    line-height: 20px;
  }
}

.has-error .form-control {
  border-color: $error-color;
  &:focus {
    box-shadow: none;
    border-color: $error-color;
  }
}

.scroll-top {
  position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 998;
  text-decoration: none;
  display: none;
  span {
    flex: 0 0 auto;
    display: flex;
    transition: .2s ease-out;
    justify-content: center;
    align-items: center;
    background: $secondary-color;
    color: $white;
    width: 40px!important;
    height: 40px!important;
    border-radius: 50%;
    font-size: 17px;
    transform: rotate(270deg);
    border: 2px solid $white;
    &:hover {
      background: $accent-color;
    }
  }
}

.order-add {
  padding: 12.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 30px;
  background-color: $accent-color;
  position: fixed;
  transition: .3s ease-out;
  overflow: hidden;
  bottom: 50px;
  right: 30px;
  box-shadow: 0 0 9px 0 rgba(51, 51, 51, 0.18);
  text-decoration: none;
  &__icon {
    display:inline-block;
    transition: .3s ease-out;
    font-size: 15px;
    color: $white;
    line-height: 1;
    transform: rotate(45deg);
  }
  &__text {
    position: absolute;
    left: -120px;
    top:0;
    color: $white;
    padding: 15px;
    line-height: 1;
    font-size: 12px;
    font-family: $bold;
    transition: .3s ease-out;
    @media(max-width: $md-device) {
      display: none;
    }
  }
  &:hover {
    text-decoration: none;
    .order-add__text {
      left: 0;
    }
    .order-add__icon {
      margin-left: 100px;
      @media(max-width: $md-device) {
        margin-left: 0;
      }
    }
  }
}

.flex {
  display: flex;
  &_center {
    align-items: center;
  }
  &_1 {
    flex: 1;
  }
  &_jcc {
    justify-content: center;
  }
  &_sb {
    justify-content: space-between;
  }
  &_0-0-a {
    flex: 0 0 auto;
  }
  &_column {
    flex-direction: column;
  }
  &_wrap {
    flex-wrap: wrap;
  }
  &_nowrap {
    flex-wrap: nowrap;
  }
  @media(max-width: $sm-device) {
    &_center-sm {
      align-items: center;
    }
  }
  &_jcfs {
    justify-content: flex-start;
  }
  &_reverse_sm {
    @media(max-width: $sm-device) {
      flex-direction: row-reverse;
    }
  }
}


.all-w-sm {
  @media(max-width: $sm-device) {
    padding-left: 0;
    padding-right: 0;
  }
}

.overflow-h {
  overflow: hidden;
}

.secondary-text {
  h6 {
    font-weight: 500;
    font-size: 13px;
    margin: 0;
    padding: 0;
    line-height: 1;
  }
}

.text-success {
  color: $accent-color;
}

.link-def {
  color: $accent-color!important;
  font-family: $light!important;
  &:hover {
    text-decoration: underline !important;
  }
  &_fz13 {
    font-size: 13px !important;
  }
  &_tdn {
    text-decoration: none!important;
    &:hover {
      text-decoration: none!important;
    }
    &:focus {
      text-decoration: none!important;
    }
  }
  &_main {
    color: $main-color!important;
    &:hover {
      color: $accent-color!important;
    }
  }
}

.link-bold {
  text-decoration: none;
  outline: none;
  font-family: $bold;
  color: $accent-color;
  line-height: 1;
  border: none;
  background: inherit;
  &:hover {
    text-decoration: underline;
  }
  &:focus {
    text-decoration: underline;
  }
  &_fz15 {
    font-size: 15px;
  }
}

.bold {
  font-family: $bold;
}

.color-error {
  color: $error-color;
}

.color-accent {
  color: $accent-color;
}

.simple-text {
  font-size: 15px;
  line-height:18px;
}

.s-signBlock {
  margin-top: 100px;
  @media(max-width: $md-device) {
    margin-top: 50px;
  }
}

.select-custom {
  &_global {
    height: 32px;
    .select2-container .select2-selection--single {
      height: 32px;
    }
    .select2-container--default .select2-selection--single {
      border-radius: 3px;
      border: 1px solid $border-color;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
      line-height: 32px;
      color: $main-color;
      font-size: 15px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
      height: 32px;
      width: 32px;
    }
    .select2-selection__arrow {
      padding: 10px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
      font-family: 'maminzam-font';
      @extend .icon-arrow-point-to-down;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
      transform: rotate(270deg);
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
      display: none;
    }
    .select2-container--default.select2-container--disabled .select2-selection--single {
      opacity: 0.5;
      background: $white;
      cursor: not-allowed;
    }
  }
  &_def {
    height: 35px;
    .select2-container .select2-selection--single {
      height: 35px;
    }
    .select2-container--default .select2-selection--single {
      border-radius: 3px;
      border: none;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
      line-height: 35px;
      color: $main-color;
      font-size: 15px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
      height: 35px;
      width: 35px;
    }
    .select2-selection__arrow {
      padding: 10px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
      font-family: 'maminzam-font';
      @extend .icon-arrow-point-to-down;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
      transform: rotate(270deg);
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
      display: none;
    }
  }
  &_nb {
    height: 40px;
    .select2-container .select2-selection--single {
      height: 40px;
    }
    .select2-container--default .select2-selection--single {
      border: none;
      border-radius: 0  3px 3px 0;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
      line-height: 40px;
      color: $main-color;
      font-size: 15px;
    }
    .select2-container .select2-selection--single .select2-selection__rendered {
      padding-right: 40px;
      padding-left: 65px;
      @media(max-width: $sm-device) {
        padding-left: 5px;
      }
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
      height: 40px;
      width: 40px;
    }
    .select2-selection__arrow {
      padding: 10px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
      font-family: 'maminzam-font';
      @extend .icon-arrow-point-to-down;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
      transform: rotate(270deg);
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
      display: none;
    }
  }
  &_g {
    height: 28px;
    .select2-container .select2-selection--single {
      height: 29px;
    }
    .select2-container--default .select2-selection--single {
      border: none;
      border-radius: 3px 0 0 3px;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
      line-height: 28px;
      color: $main-color;
      font-size: 15px;
    }
    .select2-container .select2-selection--single .select2-selection__rendered {
      padding-right: 40px;
      padding-left: 10px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
      height: 28px;
      width: 28px;
    }
    .select2-selection__arrow {
      padding: 10px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
      font-family: 'maminzam-font';
      @extend .icon-arrow-point-to-down;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
      transform: rotate(270deg);
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
      display: none;
    }
  }
}

.select2-results__option {
  padding-right: 20px;
}

.select2-container--default .select2-results > .select2-results__options {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border-radius: 3px;
  border-color: $accent-color;
  height: 25px;
  outline: none;
}

.select2-dropdown {
  border-color: $border-color;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: $accent-color;
  color: $white;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
  background: $accent-color;
  color: $white;
}
.select2-results__option {
  margin-bottom: 1px;
  &:last-child {
    margin-bottom: 0;
  }
}

.h1-text {

}
.h2-text {

}
.h3-text {

}
.h4-text {

}
.h5-text {

}

.h6-text {
  font-weight: 500;
  font-family: $bold;
  color: $main-color;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.pro, label span.pro {
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  font-family: $bold;
  color: $white!important;
  background: $error-color;
  border-radius: 11px;
  padding: 2px 7px;
  width: 45px;
  height: 23px;
  flex: 0 0 auto;
}

.dropdown-custom {
  background: $white;
  border-radius: 3px 0 0 3px;
  width: 100%;
  &__link-filter {
    padding-right: 40px;
    padding-left: 65px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-family: $light;
    color: $main-color;
    background: transparent;
    border: none;
    width: 100%;
    @media(max-width: $sm-device) {
      padding-left: 5px;
      padding-right: 40px;
    }
    &:before {
      @extend .icon-arrow-point-to-down;
      font-family: 'maminzam-font';
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
    }
    &_g {
      padding-right: 40px;
      padding-left: 10px;
      height: 28px;
      &:before {
        width: 28px;
        height: 28px;
      }
    }
  }
  &__menu {
    width: 100%;
    border: 1px solid $border-color;
    border-top: 0;
    box-shadow: none;
    border-radius: 0 0 4px 4px;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    list-style: none;
    background: $white;
    overflow: hidden;
    left: 0;
    &_t28 {
      top: 28px;
    }
    &_t40 {
      top: 40px;
    }
    li {
      margin-bottom: 1px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        cursor: pointer;
        display: block;
        font-size: 13px;
        padding: 6px;
        &:hover {
          color: $white;
          background: $accent-color;
        }
        &.active {
          color: $white;
          background: $accent-color;
        }
      }
    }
  }
  &.open {
    border-radius: 3px 0 0 0;
    .dropdown-custom__link-filter {
      &:before {
        transform: rotate(270deg);
      }
    }
    .dropdown-custom__menu {
      display: block;
      z-index: 1000;
    }
  }
}


.l-mainContent {
  margin-bottom: 50px;
  margin-top: 30px;
}

.checkbox {
  display: block;
  min-height: 20px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
  padding-left: 25px;
  color: $main-color;
  cursor: default!important;
  &:hover {
    span {
      color: $main-color!important;
      &.pro {
        color: $white!important;
      }
    }
  }
  &:focus {
    span {
      color: $main-color!important;
    }
  }
  input[type="checkbox"] {
    opacity: 0;
    visibility: hidden;
    z-index: 0;
  }
  label {
    cursor: pointer;
    color: $main-color;
    &:hover {
      color: $main-color!important;
    }
    &:focus {
      color: $main-color!important;
    }
  }
  &__text {
    user-select: none;
    position: relative;
    text-decoration: none;
    outline: none;
    color: $main-color;
    font-size: 15px;
    &:hover {
      color: $main-color!important;
    }
    &:focus {
      color: $main-color!important;
    }
    &:after {
      content: '';
      position: absolute;
      width: 18px;
      height: 18px;
      border-radius: 3px;
      background: $white;
      left: -25px;
      top: 0;
    }
    &_grey {
      &:after {
        border: 1px solid $border-color;
      }
    }
  }
  input[type="checkbox"]{
    &:checked + .checkbox__text {
      &:after {
        background: $accent-color;
        border-color: $accent-color;
      }
      &:before {
        @extend .icon-verify-sign;
        font-family: maminzam-font;
        position: absolute;
        left: -21px;
        font-size: 11px;
        color: $white;
        z-index: 1;
        top: -2px;
      }
    }
  }
}

.radio-def {
  display: block;
  min-height: 20px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
  padding-left: 25px;
  color: $main-color;
  cursor: default!important;
  &:hover {
    span {
      color: $main-color!important;
      &.pro {
        color: $white!important;
      }
    }
  }
  &:focus {
    span {
      color: $main-color!important;
    }
  }
  &.radio-inline {
    display: inline-block;
    padding-left: 19px;
  }
  input[type="radio"] {
    opacity: 0;
    visibility: hidden;
    z-index: 0;
  }
  label {
    cursor: pointer;
    color: $main-color;
    &:hover {
      color: $main-color!important;
    }
    &:focus {
      color: $main-color!important;
    }
  }
  &__text {
    user-select: none;
    position: relative;
    text-decoration: none;
    outline: none;
    color: $main-color;
    font-size: 15px;
    &:hover {
      color: $main-color!important;
    }
    &:focus {
      color: $main-color!important;
    }
    &:after {
      content: '';
      position: absolute;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      background: $white;
      left: -25px;
      top: 0;
    }
    &_grey {
      &:after {
        border: 1px solid $border-color;
      }
    }
  }
  &__text_sm {
    user-select: none;
    position: relative;
    text-decoration: none;
    outline: none;
    color: $main-color;
    font-size: 15px;
    &:hover {
      color: $main-color!important;
    }
    &:focus {
      color: $main-color!important;
    }
    &:after {
      content: '';
      position: absolute;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: $white;
      left: -20px;
      top: 2px;
    }
    &_grey {
      &:after {
        border: 1px solid $border-color;
      }
    }
  }
  input[type="radio"]{
    &:checked + .radio-def__text_sm {
      &:before {
        content: '';
        top: 6px;
        left: -16px;
        position: absolute;
        width: 6px;
        height: 6px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: $accent-color;
        z-index:1;
      }
    }
  }
  input[type="radio"]{
    &:checked + .radio-def__text {
      &:before {
        content: '';
        top: 4px;
        left: -21px;
        position: absolute;
        width: 9px;
        height: 9px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: $accent-color;
        z-index:1;
      }
    }
  }
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 3px;
  .icon {
    font-size: 10px;
  }
}

.pagination li a,
.pagination li a:hover,
.pagination li span,
.pagination li span:hover {
  color: $main-color;
  font-size: 18px;
}
.pagination li.active a,
.pagination li.active a:hover,
.pagination li.active span,
.pagination li.active span:hover {
  background: $white;
  border-color: $accent-color;
  color: $accent-color;
}
.pagination-container .pagination {
  float: left;
}
@media (max-width: 767px) {
  .pagination-container .pagination {
    float: none;
  }
}
.pagination > li > a, .pagination > li > span {
  padding: 2px 11px;
  border: 1px solid $border-color;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: $main-color;
  border-color: $border-color;
  cursor: not-allowed;
}
.pagination > li > a:hover, .pagination > li > span:hover,
.pagination > li > a:focus, .pagination > li > span:focus {
  color: $main-color;
  border-color: $accent-color;
  background: $white;
  z-index: 2;
}
.pagination-container:after {
  display: block;
  content: '';
  clear: both;
}
.pagination-num {
  float: right;
  margin-top: 20px;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.pagination-num .form-control {
  width: 50px;
  display: inline-block;
  text-align: center;
}
.pagination-num label {
  display: inline-block;
  color: $main-color;
}
@media (max-width: 767px) {
  .pagination-num {
    float: none;
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.c-status {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #ccc;
  z-index: 1;
}
.c-status-lg {
  width: 12px;
  height: 12px;
}
.c-status-inline {
  display: inline-block;
  position: relative;
  margin-right: 2px;
  top: -1px;
}
.c-status-online {
  background: $accent-color;
}
.c-status-offline {
  background: $error-color;
}
.c-viewed {
  font-size: 12px;
  color: #aaa;
}

img {
  max-width: 100% !important;
}
/* Basic styles */
/* typography */
p {
  margin: 0;
  padding-bottom: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin: 20px 0 18px 0;
  padding: 0;
}
h1,
.h1 {
  font-size: 24px;
  position: relative;
}
h1.small,
.h1.small {
  font-size: 19.2px;
}
h2,
.h2 {
  font-size: 20px;
  position: relative;
}
h2.small,
.h2.small {
  font-size: 16px;
}
h3,
.h3 {
  font-size: 18px;
}
h3.small,
.h3.small {
  font-size: 14.4px;
}
h4,
.h4 {
  font-size: 16px;
}
h4.small,
.h4.small {
  font-size: 14.4px;
}
h5,
.h5 {
  font-size: 14px;
}
h5.small,
.h5.small {
  font-size: 12.6px;
}
h6,
.h6 {
  font-size: 14px;
}
h6.small,
.h6.small {
  font-size: 12.6px;
}

.datepicker-dropdown {
  border-color: $border-color;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .16);
  padding: 0 !important;
  &:before {
    display: none;
  }
  &:after {
    display: none;
  }
  .table-condensed {
    th {
      border: 1px solid $border-color;
      border-radius: 0;
    }
    td {
      border-radius: 0;
      border: 1px solid $border-color;
      .month {
        border-radius: 0;
        border: 1px solid $border-color;
      }
      .year {
        border-radius: 0;
        border: 1px solid $border-color;
      }
      .decade {
        border-radius: 0;
        border: 1px solid $border-color;
      }
      .century {
        border-radius: 0;
        border: 1px solid $border-color;
      }
    }
  }
}

.datepicker table tr td.today, .datepicker table tr td.today:hover, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover {
  background-color: $accent-color;
  background-image: linear-gradient(to bottom, $accent-color, $accent-color);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$accent-color', endColorstr='$accent-color', GradientType=0);
  border-color: $border-color $border-color $border-color $border-color;
  color: $white;
}

.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover {
  background-color: $white;
  background-image: linear-gradient(to bottom, $white, $white);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradien(startColorstr='$accent-color', endColorstr='$accent-color', GradientType=0);
  border-color: $border-color $border-color $border-color $border-color;
  color: $accent-color;
  text-shadow: none;
}

.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active[disabled], .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled:hover[disabled] {
  background-color: $white;

}
#ok_shareWidget {
  iframe {
    height: 20px;
    min-width: 90px;
  }
}

/* carousel */
.l-carousel-container {
  max-width: 95%;
  margin: 0 auto;
  padding-bottom: 0;
  @media print {
    display: none !important;
  }
}
.l-freelancers-carousel {
  &__avatar {
    img {
      width: 80px;
      height: 80px;
      border-radius: 0;
    }
  }
  &__name {
    font-size: 15px;
    font-family: $bold;
    text-decoration: none;
    color: $main-color;
  }
  &__text {
    font-size: 13px;
    &_second {
      color: $secondary-color;
    }
  }
}

.owl-theme .owl-controls .owl-buttons div {
  background: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $main-color;
  opacity: 1;
  &:hover {
    border-color: $accent-color;
    i {
      color: $accent-color;
    }
  }
  i {
    color: $main-color;
  }
}

.owl-theme .owl-controls .owl-page span {
  display: inline-block;
  margin: 10px;
  border: 1px solid $secondary-color;
  background: inherit;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  cursor: pointer;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
  background: $accent-color;
  border-color: $accent-color;
}

.l-carousel .owl-pagination {
  display: none;
}

//tooltip
.tooltip-inner {
  background-color: $main-color;
  border-radius: 3px;
  font-weight: 500;
  font-family: $light;
}

.tooltip.top .tooltip-arrow {
  border-top-color: $main-color;
}
.tooltip.top-left .tooltip-arrow {
  border-top-color: $main-color;
}
.tooltip.top-right .tooltip-arrow {
  border-top-color: $main-color;
}
.tooltip.right .tooltip-arrow {
  border-right-color: $main-color;
}
.tooltip.left .tooltip-arrow {
  border-left-color: $main-color;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: $main-color;
}
.tooltip.bottom-left .tooltip-arrow {
  border-bottom-color: $main-color;
}
.tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: $main-color;
}

.dropdown-select {
  &.min-w-200px {
    .dropdown {
      width: 100%;
    }
  }
  .dropdown-toggle {
    width: 100%;
    padding: 4px 10px;
    border: 1px solid $border-color;
    border-radius: 3px;
    text-decoration: none;
    color: $main-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    i {
      margin-left: 10px;
      font-size: 12px;
    }
    &.ajax-link {
      &:hover {
        color: $main-color!important;
      }
      span {
        border-bottom: none;
        &:hover {
          color: $main-color!important;
        }
      }
    }
  }
  .ajax-link:hover > span, .ajax-link:focus > span, .ajax-link:active > span {
    border-bottom: none;
    color: $main-color;
    border-radius: 0;
  }
  .open {
    .dropdown-toggle {
      border-radius: 3px 3px 0 0;
    }
    .dropdown-menu-def {
      z-index: 1000;
      border-top: 0;
      display: block;
    }
  }
  &__half {
    width: 50%;
    position: relative;
    .p-profileCabinet-delete {
      position: absolute;
      top: 5px;
      right: -25px;
    }
  }
  .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background: $accent-color;
    border-radius: 0;
  }
}
.dropdown-menu-def {
  background: $white;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid $border-color;
  margin: 0;
  list-style: none;
  padding: 5px 0;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  border-radius: 0 0 3px 3px;
  display: none;
  li {
    padding: 0;
    &:hover {
      background: $accent-color;
      a {
        color: $white;
      }
    }
    .icon-arrow-point-to-right {
      font-size: 10px;
    }
    a {
      padding: 5px 10px;
      text-decoration: none;
      outline: none;
      color: $main-color;
      display: block;
    }
    &.dropdown-menu-autocomplete {
      padding: 5px 10px 0 10px;
      &:hover {
        background: $white;
      }
    }
    &.p-categoriesList_active {
      .ajax-link {
        text-decoration: none;
        outline: none;
        color: $secondary-color;
        span {
          border-bottom: none;
          &:hover {
            color: $accent-color;
          }
        }
      }
      h6 {
        margin: 0;
        padding: 5px 10px;
      }
      &:hover {
        background: $white;
      }
    }
  }
}

.drop-link {
  text-decoration: none;
  color: $main-color;
  &_fz13 {
    font-size: 13px;
  }
}

.dropdown-menu {
  border: 1px solid $border-color;
  padding: 2px 0 !important;
  background-color: #fff;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  li {
    a {
      color: $main-color;
      &:hover {
        color: $white;
        background: $accent-color;
      }
    }
    &.active {
      a {
        background: $accent-color;
        &:hover {
          background: $accent-color;
        }
      }
    }
  }
}

.dropdown-menu.c-dropdown-caret_left:before {
  border-bottom: 9px solid $border-color;
}
.dropdown-menu.c-dropdown-caret_right:before {
  border-bottom: 9px solid $border-color;
}

.p-profile-submenu {
  li {
    a {
      text-decoration: none;
      color: $main-color;
      &:hover {
        text-decoration: underline;
      }
    }
    &.active {
      a {
        color: $accent-color;
        background: inherit;
      }
    }
  }
  .label-count-def {
    background: inherit;
    padding: 0;
    margin: 0;
    line-height: 1;
    color: inherit!important;
    &:before {
      content: '(';
      font-family: $light;
    }
    &:after {
      content: ')';
      font-family: $light;
    }
  }
  &_mobile {
    white-space: nowrap;
    overflow-y: auto;
    li {
      display: inline-block;
      float: none;
    }
  }
}

.breadcrumb {
  &:after {
    width: 17px;
    background: none;
    box-shadow:inset 0px -100px 100px -50px $bg-color;
  }
}

.bbn {
  border-bottom: none;
}
.modal {
  &__title {
    font-size: 16px;
    font-family: $bold;
  }
}

.modal-header {
  border-bottom: none;
}

.modal-content {
  border-radius: 0;
}

.article-form {
  font-size: 16px;
  font-family: $bold;
}

// Rating module
table.s-stars td {
  padding-top: 5px;
  padding-bottom: 5px;
}
table.s-stars td:first-child {
  padding-right: 15px;
}
.rating-container .filled-stars {
  color: #ffbc65;
  text-shadow: none;
  -webkit-text-stroke: 0; 
  text-stroke: 0;
}
.s-rating-white {
  .rating-container .empty-stars {
    color: transparent;
    -webkit-text-stroke: 1px #333;
    text-stroke: 1px #333;
  }
}

.filled-stars{
  .star {
    .icon-star {
      color: $rating-color;
      @extend .icon-star-color;
    }
  }
}