.user-list {
  margin: 0;
  padding: 0;
  list-style:none;
  &__box {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media(max-width: $md-device) {
      flex-direction: column;
      justify-content: center;
    }
    &_now-wrap {
      flex-wrap: nowrap;
      @media(max-width: $md-device) {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
  .rating {
    @media(max-width: $xs-device) {
      display: none;
    }
  }
  &__notif {
    @media(max-width: $md-device) {
      margin-top: 10px;
    }
    @media(max-width: $sm-device) {
      width: 50%;
    }
    @media(max-width: $xs-device) {
      width: 100%;
    }
  }
  &__item {
    background: $white;
    padding: 14px;
    @media(max-width: $xs-device) {
      margin-right: -15px;
      margin-left: -15px;
    }
  }
  &__wrap {
    display: flex;
    @media(max-width: $xs-device) {
      display: block;
    }
  }
  &__avatar {
    max-width: 135px;
    flex: 0 0 135px;
    margin-right: 10px;
    @media(max-width: $xs-device) {
      width: 85px;
      display: inline-block;
      float: left;
    }
  }
  &__body {
    width: 100%;
    @media(max-width: $xs-device) {
      width: auto;

    }
  }
  &__opinions {
    text-align: center;
    position: relative;
    @media(max-width: $xs-device) {
      display: none;
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    @media(max-width: $xs-device) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }
  &__link {
    font-size: 15px;
    color: $main-color;
    font-family: $bold;
    text-decoration: none;
    outline: none;
  }
  &__text-light {
    font-size: 13px;
    line-height: 13px;
    &_sec {
      color: $secondary-color;
    }
  }
  &__price {
    text-align: right;
    color: $accent-color;
    font-size: 14px;
    font-family: $bold;
    @media(max-width: $xs-device) {
      text-align: left;
    }
  }
  &__conditions {
    display: flex;
    margin-top: 10px;
    @media(max-width: $sm-device) {
      margin-top: 25px;
      margin-right: 0;
      justify-content: space-between;
      flex-wrap:wrap;
    }
  }
  &__conditions-item {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    align-items: center;
    @media(max-width: $sm-device) {
      margin-right: 0;
    }
  }
  &__text {
    font-size: 15px;
    color: $main-color;
  }
}

.user-avatar {
  display: block;
  position: relative;
  text-decoration: none;
  &_xs {
    @media(max-width: $xs-device) {
      .pro {
        display: none;
      }
      .user-avatar__fav {
        display: none;
      }
    }
  }
  img {
    width: 100%;
  }
  .pro {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
  }
  &__fav {
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 2;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, .7);
    text-decoration: none;
    outline: none;
    &:hover {
      background: $white;
      i {
        color: $error-color;
      }
    }
    i {
      font-size: 16px;
      color: $main-color;
      &.icon-heart-full {
        color: $error-color;
      }
    }
  }
}

.user-sidebar {
  background: $white;
  @media(max-width: $sm-device) {
    margin: 0 -15px;
  }
  &__container {
    padding: 10px;
  }
  &__name {
    font-size: 17px;
    font-family: $bold;
    color: $main-color;
    font-weight: 500;
    margin: 0;
    padding: 0;
  }
  &__conditions {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    @media(max-width: $sm-device) {
      margin-top: 25px;
      margin-right: 0;
    }
  }
  &__conditions-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media(max-width: $sm-device) {
      margin-right: 0;
    }
  }
  &__price {
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
  }
}

.avatar-load {
  display: block!important;
  position: relative;
  overflow: hidden;
  transition: .1s ease-out;
  &_s {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    overflow: visible;
  }
  .p-delete {
    position: absolute;
    bottom: 0;
    right: -25px;
    font-size: 20px;
  }
  &:hover {
    transition: .1s ease-out;
    .avatar-load__btn {
      opacity: 1;
      visibility: visible;
    }
  }
  &:before {
    content: "";
    padding-top: 100%;
    float: left;
  }
  img {
    width: 100%;
  }
  &__btn {
    transition: .1s ease-out;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    a {
      display: block;
      text-align: center;
      padding: 10px;
      background: rgba(255,255,255, .5);
      color: $main-color;
      text-decoration: none;
    }
  }
  &__loader {
    position: absolute;
    top: 10%;
    left: 39%;
  }
  &__loader-s {
    position: absolute;
    top: 35%;
    left: 43%;
  }
  .pro {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

.user-tab {
  @media(max-width: $sm-device) {
    margin: 10px -15px 0 -15px;
  }
}

.tabs {
  margin: 0;
  list-style: none;
  padding: 13px 16px;
  background: $white;
  white-space: nowrap;
  overflow-y: auto;
  @media(max-width: $sm-device) {
    //margin-left: -15px;
    //margin-right: -15px;
  }
  &__item {
    display: inline-block;
    padding-right: 30px;
    @media(max-width: $sm-device) {
      padding-right: 15px;
    }
    &:last-child {
      padding-right: 0;
    }
    &.active {
      .tabs__link {
        color: $accent-color;
      }
    }
  }
  &__link {
    font-size: 15px;
    font-family: $bold;
    text-decoration: none;
    outline: none;
    color: $main-color;
  }
}


.vertical-tabs {
  margin: 0;
  list-style: none;
  padding: 0;
  background:  inherit;
  @media(max-width: $md-device) {
    background: $white;
    white-space: nowrap;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 13px 16px;
  }
  @media(max-width: $sm-device) {
    margin-left: -15px;
    margin-right: -15px;
  }
  &__item {
    display: block;
    margin-bottom: 10px;
    margin-right: 0;
    padding-right: 0;
    &.active {
      .vertical-tabs__link {
        color: $accent-color;
      }
    }
    @media(max-width: $md-device) {
      display: inline-block;
      padding-right: 15px;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
  &__link {
    font-size: 15px;
    font-family: $light;
    text-decoration: none;
    outline: none;
    color: $main-color;
    display: flex;
    align-items: center;
    i {
      font-size: 16px;
      margin-right: 5px;
    }
  }
}

.settings-box {
  padding: 20px;
  background: $white;
  .col-md-4 {
    .form-control.input-sm {
      @media(max-width: $md-device) {
        margin-bottom: 10px;
      }
    }
  }
  &__mod {
    .settings-box__article-ihn {
      background: $white;
      padding: 20px 20px 0 20px;
      font-size: 15px;
      font-family: $bold;
      margin: 0;
      font-weight: normal;
    }
    .settings-box__label {
      display: block;
      background: $white;
      padding: 10px 20px 0 20px;
      margin-bottom: 0;
    }
    .dropdown-select {
      position: relative;
    }
    .dropdown {
      background: $white;
      display: block;
      padding: 0 20px 10px 20px;
      .dropdown-toggle {
        width: 50%;
        position: relative;
      }
      .dropdown-menu {
        top: calc(100% - 10px);
        left: 20px;
        width: calc(50% - 20px);
      }
      .p-profileCabinet-delete {
        //position: absolute;
        position: relative;
        top: 5px;
        right: 0;
      }
    }
  }
  &__select-sec {
    background: $white;
    padding-bottom: 10px;
    .link-add-2 {
      margin: 0 20px 0 20px;
      width: 50%;
    }
  }
  &__drop-sec {
    .dropdown {
      padding-bottom: 10px;
      .dropdown-menu {
        top: calc(100% - 10px);
      }
    }
  }
  &__article {
    font-size: 15px;
    font-family: $bold;
    padding: 0;
    margin: 0;
    font-weight: normal;
  }
  &__s-text {
    font-size: 13px;
    color: $secondary-color;
  }
  &__form {
    width: 195px;
    margin: 0 auto;
    @media(max-width: $sm-device) {
      width: 100%;
    }
    label {
      font-size: 13px;
      color: $secondary-color;
      margin-bottom: 0;
      padding-bottom:0;
    }
  }
  .control-label {
    font-size: 13px;
    color: $secondary-color;
    margin-bottom: 0;
    padding-bottom:0;
  }
}

.alert-proposal {
  text-align: center;
  &__box {
    margin: 10px auto 0 0;
    padding: 10px;
    background: $white;
    display: inline-block;
    font-size: 15px;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(126, 135,149, .2);
    a {
      font-family: $bold;
    }
  }
}
.modal-backdrop {
  background-color: rgba(55, 55, 91, .6);
}
.modal-success {
    text-align: center;
    padding: 0!important;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }

  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 372px;
    @media (max-width: $sm-device) {
      width: 320px;
      margin: 10px auto;
    }
  }
  &__article {
    font-size: 21px;
    font-family: $bold;
    a {
      text-decoration: none;
    }
  }
}










