//fonts
$light: 'Conv-ProximaNova-Light';
$bold: 'Conv-ProximaNova-Bold';

// RESPONSIVE
$lg-device: 1199px;
$md-device: 991px;
$sm-device: 767px;
$xs-device: 425px;


$main-color: #333333;
$accent-color: #4AD2A3;
$accent-hover-color: #36c593;
$white: #ffffff;
$bg-color: #F2F2F6;
$rating-color: #FFBC65;
$secondary-color: #818181;
$border-color: #DFDFDF;
$error-color: #FF7570;
$progress-color: #FFCC00;